<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/app.component.css">
  </head>
  <body class="container">
    <!-- <div class="container"> -->
      <div class="title">
        title
        <!-- title to be added -->
      </div>
    <app-page-title></app-page-title>

      <!-- <div class="navbar"> -->
        <!-- navbar to be added -->
      <!-- </div> -->

      <app-profiles></app-profiles>

      <app-skills></app-skills>

      <app-experiences></app-experiences>

      <app-education></app-education>

      <div class="certificates">
        <div class="certificate">cert</div>
        <div class="certificate">cert</div>
        <div class="certificate">cert</div>
        <div class="certificate">cert</div>
        <!-- certificates to be added -->
      </div>

      <!-- <app-certificates></app-certificates> -->

      <div class="footer">
        <div class="footer_item">contact</div>
        <div class="footer_item">social</div>
        <div class="footer_item">social</div>
        <div class="footer_item">contact</div>
      <!-- add contacts -->
       <!-- add social media -->
      </div>
      <app-footer></app-footer>

    <!-- </div> -->
  </body>
</html>
