
.container {
    margin: 0;
  background: linear-gradient(190deg, #4A1C40, #D9BBA9, #B87333);
    /* width: 100%;
    height: 100%; */
    position: relative;
    z-index: 0;
}
/* .navbar{
    width: auto;
    height: 100px;
    background-color: red;
} */

