<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/app.component.css">
  </head>
  <body class="container">
    <!-- <div class="container"> -->
      <div class="title">
        title
        <!-- title to be added -->
      </div>

      <!-- <div class="navbar"> -->
        <!-- navbar to be added -->
      <!-- </div> -->

      <div class="profiles" >
        

        <div class="description" style="position:relative; width: 50%; height:100%;background-color: gray; top:0px; left:0px;">
          <!-- description  -->
           descriere
        </div>
        
        <div class="profile_photo" style="position:relative; width: 50%; height:100%;background-color: gray; top:0px; right:0px;">
          <!-- photo to be added -->
        poza
        </div>
      </div>
      <app-profiles></app-profiles>

      <div class="skills">
        <!-- skills to be added -->
        <div class="skill">
          skill
        </div>
        <div class="skill">
          skill
        </div>

        <div class="skill">

        </div>

        <div class="skill">

        </div>
        <div class="skill">

        </div>
        <div class="skill">

        </div>
      </div>
      <app-skills></app-skills>

      <div class="experiences">
        <div class="experience">
          experience
        </div>
        <div class="experience">
          experience
        </div>
      </div>
      <div class="education">
        <div class="experience"></div>
        <!-- add poli -->
      </div>
      <app-education></app-education>
      
      <div class="certificates">
        <div class="certificate"></div>
        <div class="certificate"></div>
        <div class="certificate"></div>
        <div class="certificate"></div>
        <!-- certificates to be added -->
      </div>

      <!-- <app-certificates></app-certificates> -->
      
      <div class="footer">
        <div class="footer_item">contact</div>
        <div class="footer_item">social</div>
        <div class="footer_item">social</div>
        <div class="footer_item">contact</div>
      <!-- add contacts -->
       <!-- add social media -->
      </div>
      <app-footer></app-footer>

    <!-- </div> -->
  </body>
</html>