<div class="profiles">
    <div class="description" style="position:relative; width: 50%; height:100%; top:0px; left:0px;">
        <!-- description  -->
         descriere
      </div>

      <div class="profile_photo" style="position:relative; width: 50%; height:100%;top:0px; right:0px;">
        <img src="https://cdn.flightsim.to/images/27/czech-airlines-ok-fgs-pmdg-737-800---8k-354567-1737740050-XHZmB.jpg?width=1400" alt="plm" style="position: relative;object-fit:contain; width: 100%; height: 100%;" >
      </div>
</div>
