.profiles{
    width: auto;
    height: 600px;
    display: flex;
}
div{
  overflow: hidden;
}
p{
  padding: 0px;
  margin: 3px;
  position: relative;
  text-align: left;
  font-family: 'Roboto Thin';
    @media screen and (max-width: 800px){
      font-size: xx-small;
      }
  overflow: hidden;
  text-overflow: ellipsis;
}
