<div class="profiles">
    <div class="description" style="position:relative; width: 50%; height:100%; top:0px; left:0px;">
        <!-- description  -->
         <h2 style="text-align: center">Ge</h2>
        <div style="margin-left: 50px">
          <p *ngFor="let text of texts">
            {{text}}
          </p>
        </div>
      </div>

      <div class="profile_photo" style="position:relative; width: 50%; height:100%;top:0px; right:0px;">
        <img src="https://1x.com/assets/img/pro08.jpg" alt="plm" style="position: relative;object-fit:contain; width: 100%; height: 100%;" >
      </div>

</div>
